<button
  type="button"
  ...attributes
  disabled={{this.disabled}}
  class="focus:outline-none focus:ring-2 focus:ring-purple-600"
  {{on "click" this.buttonClicked}}
>
  <div class="bg-transparent w-36 h-36">
    <div class="relative w-full h-full">
      <div
        class="
          absolute w-full h-full backface-visibility-hidden
          bg-purple-300 transition-transform duration-200
          {{if @tile.isFaceUp "flip"}}
        "
      >
        {{! Back}}
      </div>
      <div
        class="
          absolute w-full h-full backface-visibility-hidden
          bg-purple-800 text-white transition-transform duration-200
          {{if @tile.isFaceUp "" "flip"}}
        "
      >
        <img class="w-full" src="/images/{{@tile.card.image}}" draggable="false" />
      </div>
    </div>
  </div>
</button>